/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.box__search, .high-group-recipe, .search-bar, .tags-row__tag, .buttons-row__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

*:focus {
  outline: none;
}

input {
  border: none;
  padding: 0;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v20-latin-regular.woff2") format("woff2"), url("../fonts/lato-v20-latin-regular.woff") format("woff"), url("../fonts/lato-v20-latin-regular.ttf") format("truetype"), url("../fonts/lato-v20-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v20-latin-700.woff2") format("woff2"), url("../fonts/lato-v20-latin-700.woff") format("woff"), url("../fonts/lato-v20-latin-700.ttf") format("truetype"), url("../fonts/lato-v20-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin-regular.woff") format("woff"), url("../fonts/roboto-v29-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v6-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v6-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v6-latin-700.woff2") format("woff2"), url("../fonts/dm-sans-v6-latin-700.woff") format("woff"), url("../fonts/dm-sans-v6-latin-700.ttf") format("truetype"), url("../fonts/dm-sans-v6-latin-700.svg#DMSans") format("svg");
  /* Legacy iOS */
}
* {
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: 1440px;
  padding: 42px 100px;
}
@media screen and (max-width: 928px) {
  .page {
    padding: 20px;
  }
}
@media screen and (max-width: 374px) {
  .page {
    padding: 10px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3.5%;
       column-gap: 3.5%;
  row-gap: 43px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1332px) {
  .main {
    row-gap: 33px;
  }
}
@media screen and (max-width: 1258px) {
  .main {
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
}
@media screen and (max-width: 928px) {
  .main {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media screen and (max-width: 730px) {
  .main {
    justify-content: center;
    row-gap: 20px;
  }
}

.js-absolute {
  margin-right: 100px;
  position: absolute;
  max-width: 1240px;
  z-index: -1;
}
@media screen and (max-width: 928px) {
  .js-absolute {
    margin-right: 20px;
  }
}
@media screen and (max-width: 374px) {
  .js-absolute {
    margin-right: 10px;
  }
}

.buttons-row__button {
  width: 170px;
  height: 69px;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 928px) {
  .buttons-row__button {
    height: 50px;
  }
}

.tags-row__tag {
  height: 37px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.fa-times-circle {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 50px;
}
@media screen and (max-width: 928px) {
  .header__logo {
    height: 35px;
  }
}
.header__title {
  padding: 5px;
  color: #d04f4f;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 928px) {
  .header__title {
    font-size: 30px;
  }
}

.search-bar {
  height: 69px;
  margin-bottom: 5px;
  margin-top: 17px;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
}
@media screen and (max-width: 928px) {
  .search-bar {
    height: 50px;
  }
}
.search-bar__input {
  width: 95%;
  height: 50px;
  background-color: #e7e7e7;
  color: #000000;
  font-size: 18px;
  text-overflow: ellipsis;
}
.search-bar__input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__input::-moz-placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__input::placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__logo {
  font-size: 32px;
}
@media screen and (max-width: 928px) {
  .search-bar__logo {
    font-size: 25px;
  }
}

.tags-row {
  display: flex;
  flex-wrap: wrap;
}
.tags-row__tag--ingredient {
  background-color: #3282f7;
}
.tags-row__tag--device {
  background-color: #68d9a4;
}
.tags-row__tag--utensil {
  background-color: #ed6454;
}
.tags-row .fa-times-circle {
  margin-left: 15px;
  font-size: 20px;
}

.buttons-row {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}
.buttons-row__button--ingredient {
  margin-right: 20px;
  background-color: #3282f7;
}
.buttons-row__button--device {
  margin-right: 20px;
  background-color: #68d9a4;
}
.buttons-row__button--utensil {
  background-color: #ed6454;
}
.buttons-row .fa-chevron-down {
  margin-left: 20px;
  font-size: 16px;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 31%;
  min-width: 328px;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 1258px) {
  .recipe {
    width: 45%;
  }
}
@media screen and (max-width: 928px) {
  .recipe {
    width: 47.5%;
  }
}
@media screen and (max-width: 730px) {
  .recipe {
    width: 65%;
  }
}
@media screen and (max-width: 589px) {
  .recipe {
    width: 100%;
  }
}
@media screen and (max-width: 374px) {
  .recipe {
    min-width: unset;
  }
}
.recipe__photo {
  height: 178px;
  background-color: #c7bebe;
}
.recipe__details {
  height: 186px;
  padding: 20px;
  background-color: #e7e7e7;
}
@media screen and (max-width: 374px) {
  .recipe__details {
    padding: 10px;
  }
}

.high-group-recipe {
  align-items: flex-start;
  height: 45px;
}
.high-group-recipe__title {
  font-size: 18px;
}
@media screen and (max-width: 1332px) {
  .high-group-recipe__title {
    font-size: 16px;
    font-weight: 700;
  }
}
.high-group-recipe__time, .high-group-recipe__time::after {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 1332px) {
  .high-group-recipe__time {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}
.high-group-recipe__time::before {
  margin-left: 10px;
  margin-right: 7px;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f017";
  font-size: 20px;
}
@media screen and (max-width: 1332px) {
  .high-group-recipe__time::before {
    font-size: 15px;
  }
}
@media screen and (max-width: 374px) {
  .high-group-recipe__time::before {
    margin-left: 5px;
  }
}
.high-group-recipe__time::after {
  margin-left: 5px;
  content: "min";
}
@media screen and (max-width: 1332px) {
  .high-group-recipe__time::after {
    font-size: 15px;
  }
}

.low-group-recipe {
  display: flex;
  justify-content: space-between;
}
.low-group-recipe__list {
  width: 50%;
  height: 100px;
  padding-right: 20px;
  padding-top: 5px;
  overflow: hidden;
  line-height: 16px;
}
.low-group-recipe .li {
  font-size: 12px;
  font-weight: 700;
}
.low-group-recipe .li .quantity {
  font-weight: 400;
}
.low-group-recipe__task {
  width: 50%;
  height: 100px;
  padding-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.box {
  display: none;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.box-ingredient, .box-ingredient input {
  background-color: #3282f7;
}
.box-ingredient {
  margin-right: 20px;
}
.box-device, .box-device input {
  background-color: #68d9a4;
}
.box-device {
  margin-right: 20px;
}
.box-utensil, .box-utensil input {
  background-color: #ed6454;
}
.box__search {
  height: 69px;
  padding: 0 20px;
}
@media screen and (max-width: 928px) {
  .box__search {
    height: 50px;
  }
}
.box__search input {
  width: 85%;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.box__search input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.box__search input::-moz-placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.box__search input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.box__search input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.box__search input::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.box__search .fa-chevron-up {
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.box__search .fa-chevron-up:hover {
  opacity: 0.7;
}
.box__list {
  display: flex;
  flex-flow: column wrap;
  -moz-column-gap: 3%;
       column-gap: 3%;
  padding: 0 20px 20px 20px;
  cursor: pointer;
}
.box__list .li {
  margin-top: 10px;
}
.box__list .li:hover {
  opacity: 0.7;
}
