// -----------------------------------------------------------------------------
// * This file contains styles that are specific to the index page.
// -----------------------------------------------------------------------------

// ================MENU================
// - 1. Header
// - 2. Search bar
// - 3. Tags row
// - 4. Buttons row
// - 5. Cooking recipe
// =    a. Box layout
// =    b. Title and time layout
// =    c. Ingredients and tasks layout
// - 6. Item Boxes
// ====================================

// - 1. Header
// --------------------------

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 50px;
  }

  &__title {
    padding: 5px;
    color: $title-color;
    font-family: $title-font-stack;
    font-size: 36px;
    font-weight: 700;
  }
}

// - 2. Search bar
// --------------------------

.search-bar {
  @extend %flex-between;
  height: 69px;
  margin-top: 17px;
  padding: 20px;
  background-color: $background-light-color;
  border-radius: 5px;

  &__input {
    width: 100%;
    height: 50px;
    background-color: $background-light-color;
    color: #000000;
    font-size: 18px;

    &::placeholder {
      color: #000000;
      opacity: 0.25;
    }
  }

  &__logo {
    font-size: 32px;
  }
}

// - 3. Tags row
// --------------------------

.tags-row {
  display: flex;
  margin-top: 20px;

  &__tag--ingredient {
    background-color: $background-ingredient-color;
  }

  &__tag--device {
    background-color: $background-device-color;
  }

  &__tag--utensil {
    background-color: $background-utensil-color;
  }

  .fa-times-circle {
    margin-left: 15px;
    font-size: 20px;
  }
}

// - 4. Buttons row
// --------------------------

.buttons-row {
  display: flex;
  margin-top: 20px;

  &__button--ingredient {
    background-color: $background-ingredient-color;
  }

  &__button--device {
    background-color: $background-device-color;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__button--utensil {
    background-color: $background-utensil-color;
  }

  .fa-chevron-down {
    font-size: 16px;
  }
}

// - 5. Cooking recipe
// --------------------------

// = a. Box layout
// ==========================

.recipe {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;

  &__photo {
    height: 178px;
    background-color: $background-dark-color;
  }

  &__details {
    height: 186px;
    padding: 20px;
    background-color: $background-light-color;
  }
}

// = b. Title and time layout
// ==========================

.high-group-recipe {
  @extend %flex-between;

  &__title {
    font-size: 18px;
  }

  &__time,
  &__time::after {
    font-size: 18px;
    font-weight: 700;
  }

  &__time::before {
    margin-right: 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f017";
    font-size: 20px;
  }

  &__time::after {
    margin-left: 5px;
    content: 'min';
  }
}

// = c. Ingredients and tasks layout
// ==========================

.low-group-recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__list {
    width: 50%;
    height: 100px;
  }

  .li {
    font-size: 12px;
    font-weight: 700;
  }

  &__task {
    width: 50%;
    height: 100px;
    font-family: $task-font-stack;
    font-size: 12px;
    overflow: hidden;
  }
}

// - 6. Item boxes
// --------------------------

.box {
  display: none;
  width: 670px;
  overflow: hidden;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;

  &-ingredient,
  &-ingredient input {
    background-color: $background-ingredient-color;
  }

  &-device,
  &-device input {
    background-color: $background-device-color;
  }

  &-device {
    margin: 0 20px;
  }

  &-utensil,
  &-utensil input {
    background-color: $background-utensil-color;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 0 20px;

    input {
      width: 80%;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;

      &::placeholder {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        opacity: 0.5;
      }
    }

    .fa-chevron-up {
      margin-right: 10px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        opacity: 0.70;
      }
    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 3%;
    padding: 0 20px 20px 20px;
    cursor: pointer;

    .li {
      margin-top: 10px;

      &:hover {
        opacity: 0.70;
      }
    }
  }
}

// * End
// * ------------------------