// -----------------------------------------------------------------------------
// * This file contains styles that are specific to the buttons.
// -----------------------------------------------------------------------------

.buttons-row__button {
  @extend %flex-between;
  width: 170px;
  height: 69px;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

// * End
// * ------------------------