// -----------------------------------------------------------------------------
// * This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// * End
// * ------------------------
