// -----------------------------------------------------------------------------
// * This file contains very basic styles.
// -----------------------------------------------------------------------------

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

*:focus {
  outline: none;
}

input {
  border: none;
  padding: 0;
}

// * End
// * ------------------------